<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Media", "Index", "Media")</li>
    <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
</ul>
