@model VidPlace.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer Detail</title>
</head>
<body>
    <div> 
        <h2>Customer Details</h2>
        <ul>
            <li>name: @Model.Name</li>
            <li>Id: @Model.ID</li>
        </ul>


    </div>
</body>
</html>
