@model IEnumerable<VidPlace.Models.Media>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <tr><th>Name of Media</th></tr>
            @foreach (var m in Model)
            {
            <tr><td>@m.Name</td></tr>
            }
        </table>
    </div>
</body>
</html>
